.custom-row-form {
  padding: 75px;
}

.text-title-form {
  font-size: 20px;
  color: #f5333f;
}

.description-form {
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2px;
}

.custom-generic-form {
  margin-left: 50px;
}

.name-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.custom-form-name,
.custom-form-company,
.custom-form-email,
.custom-form-phone {
  width: 100%;
  max-width: 298px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 8px;
}

.custom-form-company,
.custom-form-phone {
  margin-left: 24px;
}

.custom-name-form {
  border: 1px solid #aaaaaa !important;
  border-radius: 30px;
  height: 48px;
  padding: 12px;
}

.custom-container-textarea-from {
  margin-bottom: 30px;
}

.custom-textarea-form {
  border-radius: 32px;
  padding: 12px;
  margin-top: 8px;
  max-height: 180px;
}

.custom-checkbox-form {
  margin-left: 20px;
  margin-bottom: 30px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.custom-span {
  margin-left: 8px;
}

.underline {
  text-decoration: underline;
}

.form-check-input {
  width: 18px;
  height: 18px;
  position: unset;
}

.custom-button-form {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 142.5px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  background-color: #1d1d1b;
  border: none;
  border-radius: 60px;
}

.btn-primary:disabled {
  background-color: #1d1d1b !important;
  border: none;
}

.btn-primary:focus {
  background-color: #1d1d1b !important;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #1d1d1b !important;
  border: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #1d1d1b !important;
  box-shadow: none;
}

.image-button-form {
  width: 25.5px;
  height: 20px;
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(81deg)
    brightness(105%) contrast(101%);
  margin-top: 5px;
}

@media screen and (max-width: 991px) {
  .text-title-form {
    font-size: 18px;
  }

  .custom-form-name,
  .custom-form-company,
  .custom-form-email,
  .custom-form-phone label {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .custom-form-name,
  .custom-form-email {
    margin-bottom: 30px;
  }
  .custom-form-company,
  .custom-form-phone {
    margin-left: 0;
  }

  .name-company {
    flex-wrap: wrap;
  }

  .custom-generic-form {
    margin-left: 0;
  }
  .name-company {
    justify-content: center;
  }

  .custom-row-form {
    padding: 36px;
  }
}

@media screen and (max-width: 575px) {
  .custom-generic-form {
    margin-top: 24px;
  }
}
